html {
  font-size: 10px;
}

body {
  margin: 0;
}

h1 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 36px;
  font-size: 5rem;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 4rem;
}

article {
  padding: 10px;
  margin: 10px;
  flex: 400px;
}

section {
  display: flex;
  flex-flow: row;
  border: 1px black solid;
}

div {
  text-align: center;
}

div.column {
  flex: 1;
  border: 1px black solid;
}

img {
  margin: auto;
}

p {
  font-family: Georgia, serif;
  font-size: 2rem;
}

footer {
  text-align: center;
}
