<div class="row gray">
  <div class="col sm-3">
    <h4>Featured brands</h4>
  </div>
  <div class="col sm-3">
    <img src="/images/fairy.jpg">
  </div>
  <div class="col sm-3 smol">
    <img src="/images/broken-image.svg">
  </div>
  <div class="col sm-3">
    <img src="/images/daily-news.png">
  </div>
</div>

<style>
.col {
  position: relative;
}

img {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  background-color: white;
}

.smol img {
  width: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
