<!-- Two competing carousels -->
<link rel="stylesheet" href="/assets/css/flickity.css" media="screen">
<link rel="stylesheet" href="/assets/css/slick.css" media="screen">
<style>
  .carousels-wrapper {
    background-color: rgb(242, 242, 242);
    margin-bottom: 48px;
    border-style: solid;
    border-width: 2px;
    border-bottom-left-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-top-right-radius: 15px 225px;
    border-top-left-radius: 225px 15px;
  }
  .gallery-cell {
    padding-left: 6px;
    padding-right: 6px;
  }
  .main-gallery .gallery-cell {
    width: 100%;
    margin-right: 10px;
  }
  .header-gallery .gallery-cell {
    width: 100%;
    max-height: 200px;
    margin-right: 10px;
  }
  .header-gallery .gallery-cell img {
    height:100%;
  }
  .main-carousel-slide {
    background-repeat: no-repeat;
    background-size: contain;
  }
  .flickity-page-dots {
    display: none
  }
</style>

<div class="carousels-wrapper paper">
  <div class="header-gallery">
    <div class="gallery-cell" style="padding:0 20px;">
      <h4>As seen in Forbes!</h4>
      <p class="reduced-line-height">Forbes magazine calls us one of the top businesses to watch this quarter.<br /><center><a href="#" class="no-blue-underline"><strong>Read the report</strong></a></center></p>
    </div>
    <div class="gallery-cell" style="padding:0 20px;">
      <h4>Read our white paper</h4>
      <p class="reduced-line-height">Learn how our revolutionary technology is disrupting the industry.<br /><center><a href="#" class="no-blue-underline"><strong>Get access</strong></a></center></p>
    </div>
  </div>

  <br />

  <div class="main-gallery"> 
    <div class="gallery-cell main-carousel-slide"> 
      <div>
        <h4>Operationalize.</h4>
        <img src="/assets/images/astronaut.jpg" style="max-height:420px">
        <p>What if you were looped in to all stakeholders' takeaways?</p>
        <center><input type="button" class="paper-btn btn-primary" value="Get synergized"/></center>
      </div>
    </div>
    <div class="gallery-cell main-carousel-slide"> 
      <div>
        <h4>Synergy.</h4>
        <img src="/assets/images/hand.png">
        <p>See how our platform synergizes your action items.</p>
        <center><input type="button" class="paper-btn btn-primary" value="Get synergized"/></center>
      </div>
    </div>
    <div class="gallery-cell main-carousel-slide"> 
      <div>
        <h4>Level set.</h4>
        <img src="/assets/images/scissors.jpg">
        <p>Parallel pathing adds value and bandwidth.</p>
        <center><input type="button" class="paper-btn btn-primary" value="Get synergized"/></center>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="/assets/js/flickity.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/slick.js"></script>

<script>
  // initialize slick carousel (header)
  $(document).ready(function(){
  $('.header-gallery').slick({
    autoplay: true,
    autoplaySpeed: 900,
    /*speed: 10000, */
    arrows: false,
  });
});

  // initialize flickity carousel (main)
  var mainCarousel = new Flickity( '.main-gallery', {
    autoPlay: 1100,
    /*selectedAttraction: 0.0002, */
    rightToLeft: true,
    prevNextButtons: false
  });

</script>
