<h1>Cart</h1>
<h2>Fine quality boot</h2>
<div class="row">
  <div class="col-5 col">
    <img src="/assets/images/boot.jpg" />
  </div>
  <div class="col-5 col">
    <div class="form-group">
      <label for="paperSelects1"><strong>Qty</strong></label>
      <select id="paperSelects1">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </div>
    <p>Only 3 left and it's in 27 people's carts!!!</p>
  </div>
  <div class="col-2 col">
    <strong>$93.00</strong>
  </div>
</div>
