<img src="/assets/images/fall-blowout.png">
<div class="row">
  <div class="col sm-3">
    <img src="/assets/images/mechanical-clock.png">
  </div>
  <div class="col sm-3">
    <img src="/assets/images/pocket-watch.png">
  </div>
  <div class="col sm-3">
    <img src="/assets/images/alarm-clock.png">
  </div>
  <div class="col sm-3">
    <img src="/assets/images/hourglass.png">
  </div>
</div>
<img src="/assets/images/discount.png">
<img src="/assets/images/rebate.png">

<style>
.col {
  border: 1px solid rgba(0,0,0,0.5);
}

.col img {
  border: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

</style>
