<!-- "too consistent" menu and modals -->

<div class="paper container">
  <h1>Settings</h1>
  <hr />
  <br />

  <label for="modal-1"><p>Update profile photo</p></label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal">
    <div class="modal-body">
      <label class="btn-close" for="modal-1">X</label>
      <h4 class="modal-title">Update profile photo</h4>
      <p class="modal-text">New photo:</p>
      <img src="https://www.fillmurray.com/g/100/100">
      <button>Confirm</button>
      <button>Cancel</button>
    </div>
  </div>

  <label for="modal-2"><p>Change password</p></label>
  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal">
    <label class="modal-bg" for="modal-2"></label>
    <div class="modal-body">
      <label class="btn-close" for="modal-2">X</label>
      <h4 class="modal-title">Change password</h4>
      <p class="modal-text">New password: <code>hunter2</code></p>
      <button>Confirm</button>
      <button>Cancel</button>
    </div>
  </div>

  <label for="modal-3"><p>Cancel membership</p></label>
  <input class="modal-state" id="modal-3" type="checkbox" />
  <div class="modal">
    <label class="modal-bg" for="modal-3"></label>
    <div class="modal-body">
      <label class="btn-close" for="modal-3">X</label>
      <h4 class="modal-title">Cancel account</h4>
      <p class="modal-text">Are you sure you want to cancel account?</p>
      <button>Confirm</button>
      <button>Cancel</button>
    </div>
  </div>

</div>

