<h2>Payment Method</h2>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-8">
    <div class="form-group">
      <select id="paperSelects1" class="full-width">
        <option value="1">Credit / Debit Card</option>
        <option value="2">Cash</option>
        <option value="3">Check</option>
      </select>
    </div>
  </div>
</div>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-8">
    <div class="form-group">
      <label class="no-vertical-margin" for="paperInputs2">Credit Card Number</label>
      <input class="input-block" type="text" id="paperInputs2">
    </div>
  </div>
</div>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-8">
    <div class="form-group">
      <label for="paperSelects1">Credit Card Type</label>
      <select id="paperSelects1" class="full-width">
        <option value="1">Please Select Credit Card Type</option>
        <option value="2">Visa</option>
        <option value="3">Mastercard</option>
        <option value="4">American Express</option>
      </select>
    </div>
  </div>
</div>

<label for="paperSelects8">Expiration Date</label>
<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-3">
    <div class="form-group">
      <select id="paperSelects1" class="full-width">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
      </select>
    </div>
  </div>
  <div class="col no-vertical-padding sm-3">
    <div class="form-group">
      <select id="paperSelects1" class="full-width">
        <option value="1">2023</option>
        <option value="2">2024</option>
        <option value="3">2025</option>
      </select>
    </div>
  </div>
</div>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-4">
    <div class="form-group">
      <label class="no-vertical-margin" for="paperInputs2">Security Code</label>
      <input class="input-block" type="text" id="paperInputs2">
    </div>
  </div>
</div>

<style>
.full-width {
  width: 100%;
}

</style>
