<form action="https://submit-form.com/71slU1mID">
  <input
    type="hidden"
    name="_redirect"
    value="https://yourwebsitesucks.fyi/top-secret/free-sample/Your-website-sucks-SAMPLE.pdf"
  />
  <input type="email" id="email" name="email" placeholder="Email" required="" />
  <input type="hidden" id="url" name="url" value="yourwebsitesucks.fyi" />
  <button type="submit"><span>Get sample</span></button>
</form>

<script>
document.getElementById('url').value = location.href;
</script>

<style>
form {
  margin-top: 24px;
  text-align: center;
}
input, button {
  padding: 14px;
}
input {
  min-width: 240px;
}
</style>
