<div>
  <h2><span>Flurb</span></h2>
  <br />
  <div class="row hero">
    <div class="col sm-5">
      <h4>Golgi 2.7 is here!</h4>
      <p>Why upgrade to Golgi 2.7? We've implemented a proprietary data architecture format that makes compliance monitoring and reporting easier.</p>
      <center><a href="#" class="paper-btn clear">Learn More</a></center>
    </div>
    <div class="col sm-7">
      <img src="/assets/images/saas.png">
    </div>
  </div>
</div>

<style>

.col {
  padding: 0;
}

.paper-btn {
  margin-right: 8px;
  font-size: 12px;
}

h4, p {
  margin-top: 0;
  margin-right: 8px;
  text-align: center;
}

.hero p {
  font-size: 16px;
}

a {
  color: #000;
}

</style>
