<!-- Huge form for a lousy white paper -->
<div class="row no-vertical-margin">
  <input class="modal-state" id="modal-1" type="checkbox" checked />
  <div class="modal">

    <div class="modal-body">
      <label class="btn-close" for="modal-1">X</label>
      <h2>Download our white paper!</h2>
        <div class="row no-vertical-margin">
          <div class="col no-vertical-padding sm-6">
            <div class="form-group">
              <label class="no-vertical-margin" for="paperInputs2">First Name</label>
              <input class="input-block" type="text" id="paperInputs2">
            </div>
          </div>
          <div class="col no-vertical-padding sm-6">
            <div class="form-group">
              <label class="no-vertical-margin" for="paperInputs3">Last Name</label>
              <input class="input-block" type="text" id="paperInputs3">
            </div>
          </div>
        </div>

        <div class="row no-vertical-margin">
          <div class="col no-vertical-padding sm-6">
            <div class="form-group">
              <label class="no-vertical-margin" for="paperInputs2">Company Email</label>
              <input class="input-block" type="text" id="paperInputs2">
            </div>
          </div>
          <div class="col no-vertical-padding sm-6">
            <div class="form-group">
              <label class="no-vertical-margin" for="paperInputs3">Company Name</label>
              <input class="input-block" type="text" id="paperInputs3">
            </div>
          </div>
        </div>

        <div class="row no-vertical-margin">
          <div class="col no-vertical-padding sm-6">
            <div class="form-group">
              <label class="no-vertical-margin" for="paperInputs2">Job Title</label>
              <input class="input-block" type="text" id="paperInputs2">
            </div>
          </div>
          <div class="col no-vertical-padding sm-6">
            <div class="form-group">
              <label class="no-vertical-margin" for="paperInputs3">Company Revenue</label>
              <select class="input-block" type="text" id="paperInputs3">
                <option value="1">Please choose an option</option>
                <option value="2">Under $100,000</option>
                <option value="3">$100,000 - $1,000,000</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row no-vertical-margin">
          <div class="col no-vertical-padding sm-6">
            <div class="form-group">
              <label class="no-vertical-margin" for="paperInputs2">Phone Number</label>
              <input class="input-block" type="text" id="paperInputs2">
            </div>
          </div>
          <div class="col no-vertical-padding sm-6">
            <div class="form-group">
              <label class="no-vertical-margin" for="paperInputs3">Country</label>
              <select class="input-block" type="text" id="paperInputs3">
                <option value="1">Please select a country</option>
                <option value="2">Afghanistan</option>
                <option value="3">Albania</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row no-vertical-margin">
          <div class="col no-vertical-padding sm-6">
            <div class="form-group">
              <label for="paperChecks1" class="paper-check">
                <input type="checkbox" name="paperChecks" id="paperChecks1" value="option 1"> <span>I am not a robot</span>
              </label>
            </div>
          </div>
        </div>

        <div class="row no-vertical-margin">
          <div class="col no-vertical-padding sm-12">
            <div class="form-group">
              <center><input type="button" class="paper-btn btn-primary" value="Submit"/></center>
            </div>
          </div>
        </div>
            </div>

  </div>
</div>

