<h2>Complete this form and we'll be in touch!</h2>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-6">
    <div class="form-group">
      <label class="no-vertical-margin" for="paperInputs2">First Name</label>
      <input class="input-block" type="text" id="paperInputs2">
    </div>
  </div>
  <div class="col no-vertical-padding sm-6">
    <div class="form-group">
      <label class="no-vertical-margin" for="paperInputs3">Last Name</label>
      <input class="input-block" type="text" id="paperInputs3">
    </div>
  </div>
</div>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-8">
    <div class="form-group">
      <label class="no-vertical-margin" for="paperInputs2">Address 1</label>
      <input class="input-block" type="text" id="paperInputs2">
    </div>
  </div>
</div>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-8">
    <div class="form-group">
      <label class="no-vertical-margin" for="paperInputs2">Address 2</label>
      <input class="input-block" type="text" id="paperInputs2">
    </div>
  </div>
</div>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-8">
    <div class="form-group">
      <label class="no-vertical-margin" for="paperInputs2">City</label>
      <input class="input-block" type="text" id="paperInputs2">
    </div>
  </div>
</div>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-8">
    <div class="form-group">
      <label class="no-vertical-margin" for="paperInputs2">State</label>
      <input class="input-block" type="text" id="paperInputs2">
    </div>
  </div>
</div>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-4">
    <div class="form-group">
      <label class="no-vertical-margin" for="paperInputs2">Zip Code</label>
      <input class="input-block" type="text" id="paperInputs2">
    </div>
  </div>
</div>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-8">
    <div class="form-group">
      <label class="no-vertical-margin" for="paperInputs2">Email Address</label>
      <input class="input-block" type="text" id="paperInputs2">
    </div>
  </div>
</div>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-8">
    <div class="form-group">
      <label class="no-vertical-margin" for="paperInputs2">Phone Number</label>
      <input class="input-block" type="text" id="paperInputs2">
    </div>
  </div>
</div>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-12">
    <div class="form-group">
      <label class="no-vertical-margin" for="large-input">Note</label>
      <textarea id="large-input" placeholder="How can we help you?"></textarea>
    </div>
  </div>
</div>

<div class="row no-vertical-margin">
  <div class="col no-vertical-padding sm-12">
    <center><input type="button" class="paper-btn btn-primary" value="Submit"/></center>
  </div>
</div>

