<!-- 
<nav class="border fixed" aria-label="Main Navigation">
  <div class="nav-brand">
    <h4><a href="#">Sam's Cake, Fish, and More!</a></h4>
  </div>
  <div class="collapsible">
    <input id="collapsible2" type="checkbox" name="collapsible2">
    <label for="collapsible2">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </label>
    <div class="collapsible-body">
      <ul class="inline">
        <li><a href="#">Foods</a></li>
          <div class="dropdown-list">
            <li><a href="#">Birthday Cake</a></li>
            <li><a href="#">Halibut</a></li>
          </div>
        <li><a href="#">Catering</a></li>
        <li><a href="#">Cooking Classes</a></li>
        <li><a href="#">Our Stores</a></li>
        <li><a href="#">About Sam's</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
-->

<div class="navbar border">
  <a href="#home">Catering</a>
  <a href="#news">Cooking Classes</a>
  <a href="#home">Our Stores</a>
  <div class="dropdown">
    <button class="dropbtn">Food
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="row">
        <div class="col sm-6">
          <a href="#">Bass</a>
          <a href="#">Birthday Cake</a>
          <a href="#">Breakfast Sausage</a>
          <a href="#">Carrot Cake</a>
          <a href="#">Chocolate Cake</a>
          <a href="#">Cod</a>
          <a href="#">Hamburgers</a>
          <a href="#">Lemon Chiffon Cake</a>
          <a href="#">Mackerel</a>
          <a href="#">Mango Cake</a>
        </div>
        <div class="col sm-6">
          <a href="#">Perch</a>
          <a href="#">Pinapple Upside-down Cake</a>
          <a href="#">Plum Cake</a>
          <a href="#">Pollock</a>
          <a href="#">Red Velvet Cake</a>
          <a href="#">Salmon</a>
          <a href="#">Tater Tots</a>
          <a href="#">Tilapia</a>
          <a href="#">Tiramisu</a>
          <a href="#">Trout</a>
        </div>
      </div>
    </div>
  </div><a href="#news">About Sam</a>
</div>

<style>
/* Navbar container */
.navbar {
  overflow: hidden;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0,0,0,0.3);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(0,0,0,0.3);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
</style>
