<div>
  <div class="row">
    <div class="col sm-8">
      <img src="/images/pumps.jpg">
    </div>
    <div class="col sm-4">
      <h4><span>All day comfort!</span></h4>
      <p>$189</p>
      <div class="size-table">
        <div>Please select a size</div>
        <span class="available">5 | </span><span class="unavailable">6 | 7 | 8 | 9 | 10 | </span><span class="available">11 | 12</span>
      </div>
      <center><a href="#" class="paper-btn clear">Add to Bag</a></center>
    </div>
  </div>
</div>

<style>

.size-table {
  text-align: center;
  margin-bottom: 14px;
}
 
.unavailable {
  color: rgba(0,0,0,0.2);
}

.col {
  padding: 0;
}

.btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
}

.paper-btn {
  margin-right: 8px;
  font-size: 12px;
}

h4, p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

a {
  color: #000;
}

@media screen and (max-width: 600px) {

  .newsletter {
    width: 40%;
    bottom: 200px;
  }

  .chat {
    width: 60%;
    bottom: 280px;
  }

}

</style>

