<br />
<div class="form-group">
  <input type="text" placeholder="Email address" id="paperInputs1">
  <input type="text" placeholder="Password" id="paperInputs2">
</div>

<hr />

<div class="form-group">
  <label for="paperInputs3">Name</label>
  <input type="text" placeholder="Lauren Oya Olamina" id="paperInputs3">
  <label for="paperInputs4">Email address</label>
  <input type="text" placeholder="lauren@earthseed.org" id="paperInputs4">
  <label for="paperInputs5">Password</label>
  <input type="text" placeholder="* * * * * *" id="paperInputs5">
</div>

<hr />

<div class="row">
  <div class="col sm-6">
    <div class="form-group">
      <input class="input-block" type="text" id="paperInputs6">
    </div>
  </div>
  <div class="col sm-6">
    <div class="form-group">
      <input class="input-block" type="text" id="paperInputs7">
      <div class="alert alert-danger">This field is required.</div>
    </div>
  </div>
</div>

<style>
  input {
    min-width: 240px;
    margin-bottom: 24px;
  }
</style>
