<div>
  <h2><span>Playbookify</span></h2>
  <br />
  <div class="row">
    <div class="col sm-5">
      <h4>Scale your business with the POWER OF PLAYBOOKS</h4>
      <label for="modal-1">
        <center><a class="paper-btn clear">Try Free (no credit card)</a></center>
      </label>
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal">
        <div class="modal-body">
          <label class="btn-close" for="modal-1">X</label>
          <h4 class="modal-title">Try Playbookify for free</h4>
          <p class="modal-text">7 day free trial</p>
          <div class="form-group">
            <label class="no-vertical-margin" for="paperInputs2">Email Address</label>
            <input class="input-block" type="text" id="paperInputs2">
            <br />
            <label class="no-vertical-margin" for="paperInputs3">Password</label>
            <input class="input-block" type="text" id="paperInputs3">
          </div>
          <button>Create account</button>
        </div>
      </div>

    </div>
    <div class="col sm-7">
      <img src="/assets/images/writing.jpg">
    </div>
  </div>
</div>

<style>

.col {
  padding: 0;
}

.paper-btn {
  margin-right: 8px;
  font-size: 12px;
}

img {
  margin-left: 14px;
}

h4, p {
  margin-top: 8px;
  text-align: center;
}

a {
  color: #000;
}

</style>
