<div>
  <div class="row">
    <div class="col sm-8">
      <img src="/images/fancy-shoe.jpg">
    </div>
    <div class="col sm-4">
      <h3><span>Vintage, yet modern.</span></h3>
      <p>$249.99</p>
      <center><a href="#" class="paper-btn clear">Add to Bag</a></center>
    </div>
  </div>
</div>

<input class="alert-state" id="alert-2" type="checkbox">
<div class="alert alert-primary newsletter white dismissible">
  <div>
    Get 17% off when you subscribe to our newsletter!
  </div>
  <div>
    <center><a href="#" class="paper-btn clear">SUBSCRIBE</a></center>
  </div>
  <label class="btn-close" for="alert-1">X</label>
</div>

<input class="alert-state" id="alert-1" type="checkbox">
<div class="alert alert-primary chat dismissible row">
  <div class="col sm-8">
    Want to chat about Vintage Modern shoes?
  </div>
  <div class="col sm-4">
    <a href="#" class="paper-btn clear">YES</a> 
    <a href="#">No</a>
  </div>
  <label class="btn-close" for="alert-1">X</label>
</div>

<style>

.white {
  background-color: #fff;
}

.newsletter {
  width: 30%;
  margin-left: 0;
  position: relative;
  font-size: 10px;
  bottom: 60px;
  flex-direction: column;
}

.newsletter .paper-btn {
  padding: 4px;
  margin-top: 8px;
}

.chat {
  width: 60%;
  margin-right: 0;
  position: relative;
  font-size: 12px;
  bottom: 150px;
}

.col {
  padding: 0;
}

.btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
}

.paper-btn {
  margin-right: 8px;
  font-size: 12px;
}

h3, p {
  margin-top: 20px;
  text-align: center;
}

a {
  color: #000;
}
</style>
