<div class="row flex-spaces">
  <input class="alert-state" id="alert-1" type="checkbox">
  <div class="alert alert-primary dismissible">
    <div class="col-3 col">
    <img src="/assets/images/pocket-watch.png">
    </div>
    <div class="col-8 col">
    <p><em>Hortense</em> from <em>Valladolid</em> just bought <em>Quality Timepiece</em></p>
    <p>7 min ago</p>
    </div>
    <div class="col-1 col">
    <label class="btn-close" for="alert-1">X</label>
    </div>
  </div>
</div>

<style>
.alert-primary {
  background-color: #e6e7e9;
}

@media screen and (max-width: 550px) {
  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  p {
    font-size: 11px;
  }
}
</style>

