<center><input type="button" class="paper-btn btn-primary" value="Choose a Plan"/></center>
<center><input type="button" class="paper-btn" value="Talk to Sales"/></center>
<center><input type="button" class="paper-btn btn-primary" value="Start Your Free Trial Now"/></center>

<br />
<br />
<br />
<br />
<br />

<div class="box">
  <input type="button" class="paper-btn" value="Contact Us"/>
  <input type="button" class="paper-btn" value="Get a Demo"/>
  <input type="button" class="paper-btn" value="Get a Quote"/>
</div>

<style>
.box {
  display: flex;
  justify-content: center;
}

.box input {
  margin: 14px;
}

.paper-btn {
  margin-top: 20px;
}
</style>
