<center><a href="#" class="paper-btn clear">Schedule a Demo</a></center>

<input class="alert-state" id="alert-2" type="checkbox">
<div class="alert alert-primary newsletter dismissible">
  <div>
    Have you heard about our newsletter??? <br />It's great.
  </div>
  <div>
    <center><a href="#" class="paper-btn clear">SUBSCRIBE</a></center>
  </div>
  <label class="btn-close" for="alert-1">X</label>
</div>

<style>
.newsletter {
  width: 80%;
  margin: 0 auto;
  position: relative;
  font-size: 10px;
  bottom: 65px;
  flex-direction: column;
}

.newsletter .paper-btn {
  padding: 4px;
  margin-top: 8px;
  background-color: transparent;
}

.col {
  padding: 0;
}

.btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
}

.paper-btn {
  margin-right: 8px;
  font-size: 12px;
}

h3, p {
  margin-top: 20px;
  text-align: center;
}

</style>
