<br />
<div class="main">
  <div class="overlay">
    <h1><span>The platform for work</span></h1>
    <center><p><span>Wurkily is the way work wurks.</span></p></center>
  </div>
</div>

<br />
<div>
  <h1>We wurk different.</h1>
  <center><p>Find out how the Wurkily platform can engage your organization in transformational change.</p></center>
</div>

<br />
<div class="gray-bg">
  <div class="row">
    <div class="col sm-6">
      <img src="/images/woman-with-wheelbarrow.png">
    </div>
    <div class="col sm-6">
    <h3><span>Breaking down barriers</span></h3>
    <center><p><span>With Wurkily, the past is in the past. The future is now.</span></p></center>
    </div>
  </div>
</div>

<br />
<div class="row">
  <div class="col sm-4">
    <img src="/images/woman-with-hat.png">
  </div>
  <div class="col sm-8">
    <center><p><em>"At Hiringly, we work a lot. So we needed Wurkily."</em></p></center>
    <center><p>--Chelsea Vesperson, VP Work Ops, Hiringly</p></center>
    <center><a href="#" class="paper-btn">Read More</a></center>
  </div>
</div>

<br />
<div class="gray-bg">
  <div class="row">
    <div class="col sm-6">
      <h3><span>The platform for work</span></h3>
      <center><p><span>The Wurkily platform brings together everything you need to work, and work even more.</span></p></center>
    </div>
    <div class="col sm-6">
      <img src="/images/milking-cow.png">
    </div>
  </div>
  <center><a href="/wurkily-platform" class="paper-btn clear">Explore Our Platform</a></center>
  <br />
</div>



<style>
.main {
  background-image: url("/images/city.png");
  background-size: cover;
}

.gray-bg {
  background-color: rgba(0,0,0,0.3);
}

.overlay {
  padding: 80px 20px;
  background-color: rgba(0,0,0,0.7);
  min-height: 320px;
}

.overlay span {
  color: white;
}

h3 {
  margin-top: 20px;
}

.clear {
  background-color: transparent;
}
</style>
