<style>
.why-work, .testimonial {
  -webkit-animation: slideInFromRight 4s linear forwards;
  -moz-animation: slideInFromRight 4s linear forwards;
  animation: slideInFromRight 4s linear forwards;
}

.automations, .transformification {
  -webkit-animation: slideInFromLeft 4s linear forwards;
  -moz-animation: slideInFromLeft 4s linear forwards;
  animation: slideInFromLeft 4s linear forwards;
}

@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(700px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
@-moz-keyframes slideInFromRight {
  0% {
    transform: translateX(700px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(700px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}


@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-700px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
@-moz-keyframes slideInFromLeft {
  0% {
    transform: translateX(-700px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-700px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

</style>
