<br />
<div class="main">
  <div class="overlay">
    <h1><span>The platform for work</span></h1>
    <center><p><span>Wurkily brings everything your team needs to work, work, <em>wurk</em>.</span></p></center>
  </div>
</div>

<br />
<div>
  <h1>Why work, when you can wurk?</h1>
  <center><p>Thousands of organizations are using Wurkily to build the future of work.</p></center>
</div>

<br />
<div class="gray-bg">
  <div class="row">
    <div class="col sm-6">
      <img src="/images/robot-arm.png">
    </div>
    <div class="col sm-6">
      <h3><span>Automations that Just Wurk.</span></h3>
      <center><a href="#" class="paper-btn clear">Explore Automations</a></center>
    </div>
  </div>
</div>

<br />
<div class="row">
  <div class="col sm-8">
    <center><p><em>"As Chief Work Officer at Flusk, I think about work all day, every day. Wurkily helps."</em></p></center>
    <center><p>--Skrob Plemmet, CWO, Flusk</p></center>
    <center><a href="#" class="paper-btn">Read More</a></center>
  </div>
  <div class="col sm-4">
    <img src="/images/man-smoking.png">
  </div>
</div>

<br />
<div class="gray-bg">
  <center><h3><span>Transformification</span></h3></center>
  <center><p><span>Try Wurkily. Increase your team's output by 1000%.</span></p></center>
  <center><a href="/wurkily-about" class="paper-btn clear">Find Out How</a></center>
  <br />
</div>



<style>
.main {
  background-image: url("/images/city.png");
  background-size: cover;
}

.gray-bg {
  background-color: rgba(0,0,0,0.3);
}

.overlay {
  padding: 80px 20px;
  background-color: rgba(0,0,0,0.7);
  min-height: 320px;
}

.overlay span, .overlay span em {
  color: white;
}

h3 {
  margin-top: 20px;
}

.clear {
  background-color: transparent;
}
</style>
