/*** FIXING PAPER.CSS STUFF ***/
/** FONTS **/
h1,h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

/* Fix navbar h1 size */
header h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

/* Set heading sizes on mobile */
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}

@media screen and (min-width: 425px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}

/** LINKS **/
a {
  background-image: none!important;
}
a:visited {
  color: #0071de;
}
a.paper-btn, a.paper-btn:visited {
  color: #333;
}

label {
  font-family: "Neucha", sans-serif;
}

/*** FIXING MOONWALK STUFF ***/
.w {
  padding: 0 2em 0.5em 2em;
  line-height: 1.3;
}

/*** CUSTOM STUFF ***/
.faint {
  color: rgba(0, 0, 0, 0.3);
}

.no-vertical-padding {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.no-vertical-margin {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.no-blue-underline {
  background-image: none!important;
}

.reduced-line-height {
  line-height: 1.5rem;
}

