---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  <center>
    <div class="alert alert-primary">📕 Now available in <a href="https://www.amazon.com/dp/B0BVSXB5W7" target="_blank" rel="noopener noreferrer">paperback</a> and on <a href="https://www.amazon.com/dp/B0BVWJTMFY" target="_blank" rel="noopener noreferrer">Kindle</a>!
    </div>
  </center>

  <a href="/"><h1 class="nav-header">{{ site.title }}</h1></a>
  <div class="dashed"></div>
  <!--{% include horizontal_list.html collection=site.data.home.navbar_entries %} -->
{% endif %}
</header>


<br />
<h2>{{ page.title }}</h2>
{{ content }}

{% include post-footer.html %}

<style>
img {
  width: 80%;
}
.nav-header {
  opacity: 70%;
}
.alert-primary {
  font-family: "Neucha", sans-serif;
}
</style>
